body {
  height: 100vh;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 8px solid plum;
  background-color: lavender;
}

.second {
  position: absolute;
  top: 20px;
  left: calc(50% - 2px);
  width: 4px;
  height: 180px;
  background-color: rebeccapurple;
  animation: turn 1s linear infinite;
  transform-origin: 2px 100%;
}

.minute {
  position: absolute;
  top: 40px;
  left: calc(50% - 4px);
  width: 8px;
  height: 160px;
  background-color: rebeccapurple;
  animation: turn 60s infinite linear;
  transform-origin: 4px 100%;
}

.hour {
  position: absolute;
  top: 80px;
  left: calc(50% - 8px);
  width: 16px;
  height: 120px;
  background-color: rebeccapurple;
  animation: turn 1440s infinite linear;
  transform-origin: 8px 100%;
}

.pin {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: plum;
}

@keyframes turn {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
